body {
  margin: auto;
  background: url("/images/bkgrd.jpg");
  background-color: rgba(238, 238, 238, 0.85) !important;
  background-blend-mode: color;
}

.header {
  background-color: seashell;
  max-width: 600px;
  text-align: center;
}

.icon {
  max-height: 15px;
}
